* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4e4376;
}

.App {
  text-align: center;
  min-height: 100vh;
  width: 40vw;
  margin: 1rem auto;
}

.heading {
  background-color: #2b5876;
}

.heading h1,
.heading h4 {
  color: white;
  padding: 0.5rem;
}

.btnGroup {
  padding: 1rem 0;
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.btnGroup button {
  margin: 0.5rem;
  width: 7rem;
  outline: none;
  border: none;
  box-shadow: none;
  padding: 1rem;
  cursor: pointer;
  background-color: aquamarine;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.btnGroup button:hover,
.btnGroup button:active {
  background-color: rgb(115, 82, 71);
  color: white;
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.excuse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: auto;
  background-color: white;
  min-height: 55vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.excuse h4,
.excuse h3 {
  padding: 1rem;
}

.excuse h4 {
  background-color: aquamarine;
}

.excuse h3 {
  height: 20vh;
}

.excuse img {
  height: auto;
  width: 10rem;
  margin: auto;
}